<form name="technicianForm" method="POST" class="form-horizontal" ng-submit="submit()" novalidate>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
	<div class="form-group" ng-class="{'has-error': !technicianForm.name.$valid && technicianForm.name.$dirty, 'has-success': technicianForm.name.$valid && technicianForm.name.$dirty}">
		<label class="col-sm-2 control-label">Nombre</label>
		<div class="col-sm-10">
			<input type="text" ng-model="model.name" name="name" class="form-control" placeholder="Nombre" required/>
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group" ng-class="{'has-error': !technicianForm.phone.$valid && technicianForm.phone.$dirty, 'has-success': technicianForm.phone.$valid && technicianForm.phone.$dirty}">
				<label for="name" class="col-xs-12 col-sm-4 control-label">Telefono</label>
				<div class="col-sm-8 col-xs-4">
					<input type="text" name="phone" ng-pattern="/^\d+$/" placeholder="Telefono" ng-model="model.phone" class="form-control"/>
				</div><!-- /.col-sm-5 -->
			</div><!-- /.form-group -->
		</div><!-- /.col-sm-6 -->
		<div class="col-sm-6">
			<div class="form-group" ng-class="{'has-error': !technicianForm.email.$valid && technicianForm.email.$dirty, 'has-success': technicianForm.email.$valid && technicianForm.email.$dirty}">
				<label for="name" class="col-xs-12 col-sm-2 control-label">Email</label>
				<div class="col-sm-10 col-xs-4">
					<input type="email" name="email" placeholder="Email" ng-model="model.email" class="form-control"/>
				</div><!-- /.col-sm-5 -->
			</div><!-- /.form-group -->
		</div><!-- /.col-sm-6 -->
	</div><!-- /.row -->
	<div class="form-group">
		<label class="col-sm-2 control-label">Dirección</label>
		<div class="col-sm-10">
			<input type="text" ng-model="model.address" class="form-control" placeholder="Dirección" />
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
	<hr />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input ng-if="!model._id && !submiting" type="submit" class="btn btn-primary" value="Crear" ng-disabled="!technicianForm.$valid"/>
			<input ng-if="model._id && !submiting" type="submit" class="btn btn-warning" value="Actualizar" ng-disabled="!technicianForm.$valid"/>
			<button  ng-show="submiting" class="btn btn-primary" disabled>
				Espere&nbsp;<i class="fa fa-spinner fa-spin"></i>
			</button>	
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
</form>