<form name="deviceForm" method="POST" class="form-horizontal" ng-submit="submit()" novalidate>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group" ng-class="{'has-error': !deviceForm.brand.$valid && deviceForm.brand.$dirty, 'has-success': deviceForm.brand.$valid && deviceForm.brand.$dirty}">
				<label for="name" class="col-xs-12 col-sm-4 control-label">Marca</label>
				<div class="col-sm-8 col-xs-4">
					<input type="text" name="brand" required placeholder="Marca" ng-model="model.brand" class="form-control"/>
				</div><!-- /.col-sm-5 -->
			</div><!-- /.form-group -->
		</div><!-- /.col-sm-6 -->
		<div class="col-sm-6">
			<div class="form-group" ng-class="{'has-error': !deviceForm.model.$valid && deviceForm.model.$dirty, 'has-success': deviceForm.model.$valid && deviceForm.model.$dirty}">
				<label for="name" class="col-xs-12 col-sm-2 control-label">Modelo</label>
				<div class="col-sm-10 col-xs-4">
					<input type="text" name="model" placeholder="Modelo" required ng-model="model.model" class="form-control"/>
				</div><!-- /.col-sm-5 -->
			</div><!-- /.form-group -->
		</div><!-- /.col-sm-6 -->
	</div><!-- /.row -->
	<div class="form-group" ng-class="{'has-error': !deviceForm.description.$valid && deviceForm.description.$dirty, 'has-success': deviceForm.description.$valid && deviceForm.description.$dirty}">
		<label class="col-sm-2 control-label">Descripción</label>
		<div class="col-sm-10">
			<input type="text" ng-model="model.description" name="description" required class="form-control" placeholder="Descripción" />
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
	<div class="form-group" ng-class="{'has-error': !deviceForm.image.$valid && deviceForm.image.$dirty, 'has-success': deviceForm.image.$valid && deviceForm.image.$dirty}">
		<label class="col-sm-2 control-label">Image</label>
		<div class="col-sm-10">
			<input type="url" ng-model="model.image" name="image" class="form-control" placeholder="http://..." />
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
	<hr />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input ng-if="!model._id && !submiting" type="submit" class="btn btn-primary" value="Crear" ng-disabled="!deviceForm.$valid"/>
			<input ng-if="model._id && !submiting" type="submit" class="btn btn-warning" value="Actualizar" ng-disabled="!deviceForm.$valid"/>
			<button  ng-show="submiting" class="btn btn-primary" disabled>
				Espere&nbsp;<i class="fa fa-spinner fa-spin"></i>
			</button>		
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
</form>