<td>
	<label>Presupuesto</label>
	<button ng-click="toggleCostForm()" ng-show="button && !form" class="btn btn-xs btn-warning pull-right"><i class="fa fa-fw fa-pencil"></i></button>
</td>
<td>
	<span ng-show="!form" ng-if="model || model > -1">{{model | currency}}</span>
	<span ng-show="!form" ng-if="model === null || model === undefined">Sin presupuestar</span>
	<span ng-show="form && spinner" class="text-success">
			<i class="fa fa-2x fa-spinner fa-spin"></i>
	</span>
	<div ng-show="form && !spinner">
		<form ng-submit="ok()">
			<div class="col-sm-6" style="margin-left: -15px">
				<input type="number" step="0.01" class="form-control form-control-in-cell" placeholder="0.00" ng-model="cost" focus-me="{{form}}">
			</div><!-- /.col-xs-10 -->
			<div class="col-sm-6">
				<div class="btn-toolbar">
					<div class="btn-group">
						<button class="btn btn-primary btn-sm">
							Aceptar
						</button>
					</div><!-- /.btn-group -->
					<div class="btn-group">
						<button ng-click="$event.preventDefault(); form = false" class="btn  btn-inverse btn-sm">
							Cancelar
						</button>
					</div><!-- /.btn-group -->
				</div><!-- /.btn-toolbar -->
			</div><!-- /.col-xs-2 -->
		</form>
	</div>
</td>