<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div ng-if="notLoggedIn()">
    	<h1>Bienvenido a SED!</h1>
    	<p class="lead">Por favor ingrese sus datos para comenzar a usar el programa.</p>
    </div>
    <div ng-if="isLoggedIn()">
    	<h1 class="lead">{{userName()}}</h1>
    	<p class="lead">Bienvenido a SED!</p>
    </div>
  </div>
</header>

<div class="container" ng-if="notLoggedIn()">
  <div class="row air-top">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control" ng-model="user.email" required ng-pattern="pattern">
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Por favor ingrese su email y su contraseña.
          </p>
          <p class="help-block" ng-show="form.email.$error.pattern && submitted">
             Email invalido.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit" ng-disabled="!form.$valid">
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container air-top" ng-if="isLoggedIn()">
	<div class="row">
		<div class="col-sm-6">
			<button ui-sref="service_request.new" class="btn btn-success btn-lg btn-block">
				Nueva Orden de Servicio
			</button>
		</div><!-- /.col-sm-6 -->
		<div class="col-sm-6">
			<button ui-sref="service_request.index" class="btn btn-primary btn-lg btn-block">
				Ordenes de Servicio
			</button>
		</div><!-- /.col-sm-6 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<footer class="footer" ng-include="'components/footer/footer.html'"></footer>
