/* ------------------------ */
/* Angular Fullstack Styles */
/* ------------------------ */
body { 
    //padding-bottom: 70px;
    margin-bottom: 100px; 
    font-size: 14px;
}

body > .container {
  padding: 60px 15px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.hero-unit-danger {
    background: #e74c3c;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #2c3e50;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* --------------- */
/* Padding helpers */
/* --------------- */
$air: 20px;
$padding: 40px;

.air {
  margin:  $air;
}

.air-1-4 {
  margin: $air / 4;
}

.air-top-1-2 {
  margin-top: $air/2;
}

.air-top {
    margin-top: $air;
}

.air-top-3-2 {
    margin-top: $air*3/2;
}

.air-top-2 {
    margin-top: ($air * 2);
}

.air-top-3 {
    margin-top: ($air*3);
}

.air-bottom {
    margin-bottom: $air;
}

.half-left-padding {
    padding-left: $padding/2;
}


/* --------------- */
/* Form helpers */
/* --------------- */
.form-control-in-cell {
  height: 33px;
  padding: 0 15px;
}

.form-control-in-cell[type=checkbox] {
  width: 23px;
  height: 23px;
}

.margin-none {
  margin: 0;
}

textarea.form-control-in-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

