a.text-success:hover {
    color: #2b542c;
    text-decoration: none;
}

a.link-undecorated {
	text-decoration: none;
}

a.text-hover-warning:hover {
	color: #f39c12;
	text-decoration: none;
}

a.text-danger:hover {
	color: #AD3023;
	text-decoration: none;
}

a.text-success:hover {
	color: #0F8069;
	text-decoration: none;
}

.text-warning-hover:hover {
	color: #f39c12;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.form-control-feedback {
	top: 0px;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	background-color: #5DB6AF;
}

.form-search {
	border-radius: 25px;
}

.input-group-addon-success {
	color: #ffffff;
	background-color: #18bc9c;
	border-color: #18bc9c;
	border: 1px solid #dce4ec;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #346291;
}