.table.table-with-images > tbody > tr > th,
.table.table-with-images > tbody > tr > td,{
	vertical-align: middle;
}

.table-responsive-always {
	width                     : 100%;
	margin-bottom             : 15.75px;
	overflow-y                : hidden;
	overflow-x                : auto;
	-ms-overflow-style        : -ms-autohiding-scrollbar;
	border                    : 1px solid #ecf0f1;
	-webkit-overflow-scrolling: touch;
}

.no-wrap { white-space:nowrap; }

.table > tbody > tr > td.vertical-align-middle {
	vertical-align: middle;
}

.table > tbody > tr > td.row-controls {
	padding-right: 0;
	padding-left: 0;
	.btn-toolbar {
		width: 68px;
	}
}

.table > tbody > tr.row-selected > td {
	background-color: #346291;
	color: #fff;
}

.table > tbody > tr.row-selected:hover > td {
	background-color: #4077AF;
	color: #fff;
}

