<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2>Equipos</h2>
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
			<button ng-click="toggleForm('new')" class="btn btn-success">
				Nuevo Equipo
			</button>
			<button ng-click="toggleForm()" class="btn btn-primary" ng-show="showForm">
				Cerrar Formulario
			</button>
		</div><!-- /.col-lg-12 -->
		<div class="col-lg-12">
			<hr />
		</div><!-- /.col-lg-12 -->
		<div class="col-sm-offset-1 col-sm-9" ng-show="showForm">
			<div 
				device-form
				model="model"></div>
		</div><!-- /.col-lg-12 -->
	</div><!-- /.row -->
	<div class="row air-top">
		<div class="col-lg-12">
			<div sed-table collection="collection" type="device"></div>
		</div><!-- /.col-lg-12 -->
	</div><!-- /.row air-top -->
</div><!-- /.container-fluid -->