<form name="serviceRequestForm" method="POST" class="form-horizontal" ng-submit="submit()" novalidate>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alerts, $index)">{{alert.msg}}</alert>
	<div class="form-group" ng-class="{'has-error': !serviceRequestForm.name.$valid && serviceRequestForm.name.$dirty, 'has-success': serviceRequestForm.name.$valid && serviceRequestForm.name.$dirty}">
		<label class="col-sm-2 control-label">Cliente</label>
		<div class="col-sm-10">
			<input 
				placeholder="Nombre de Cliente"
				typeahead="client as client.name for client in clients | filter: {name: $viewValue} | limitTo: 9"
				typeahead-on-select="onSelectClient($item)"
				typeahead-editable="false"
				ng-model="client"
				type="text" 
				class="form-control" 
				required="true"
			/>
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
	<div class="form-group" ng-class="{'has-error': !serviceRequestForm.doc_number.$valid && serviceRequestForm.doc_number.$dirty, 'has-success': serviceRequestForm.doc_number.$valid && serviceRequestForm.doc_number.$dirty}">
		<label class="control-label col-sm-2">Modelo</label><!-- /.label col-sm-2 -->
		<div class="col-sm-4">
			<input 
				placeholder="Modelo"
				typeahead="device as device.model for device in devices | filter: {model:$viewValue} | limitTo: 9"
				typeahead-on-select="onSelectDevice($item)"
				typeahead-editable="false"
				ng-model="device"
				type="text" 
				class="form-control"
				required="true"
			/>
		</div><!-- /.col-sm-4 -->
		<label class="col-sm-2 control-label">Marca</label>
		<div class="col-sm-4">
			<input tabindex="-1" type="text" ng-model="device.brand" class="form-control" placeholder="Marca" readonly/>
		</div><!-- /.col-sm-6 -->
	</div><!-- /.form-group -->
	<div class="form-group">
		<label class="col-sm-2 control-label">Descripción</label>
		<div class="col-sm-10">
			<input tabindex="-1" type="text" ng-model="device.description" placeholder="Descripción" class="form-control" readonly/>
		</div><!-- /.col-sm-10 -->
	</div><!-- /.form-group -->
	<div class="form-group">
		<label class="control-label col-sm-2">Serie</label>
		<div class="col-sm-10">
			<input type="text" ng-model="model.serial" placeholder="Serie" class="form-control" required/>
		</div><!-- /.col-sm-10 -->
	</div><!-- /.form-group -->
	<div class="form-group">
		<label class="col-sm-2 control-label">Garantía</label>
		<div class="col-sm-2">
			<input type="checkbox" ng-model="model.withWarranty" class="form-control"/>
		</div><!-- /.col-sm-2 -->
		<div ng-if="model.withWarranty">
			<label class="control-label col-sm-2">N° Boleta</label>
			<div class="col-sm-6">
				<input type="text"  placeholder="Numero de Boleta" ng-required="model.withWarranty" class="form-control" ng-model="model.invoiceNumber" />
			</div><!-- /.col-sm-3 -->
		</div>
	</div><!-- /.form-group -->
	<div class="form-group" ng-if="model.withWarranty">
		<label class="col-sm-offset-4 col-sm-2 control-label">Fecha de Compra</label>
		<div class="col-sm-6">
			<div class="input-group">
	      <input 
	      	type="text" 
	      	class="form-control"
	      	datepicker-popup="{{format}}"
	      	ng-model="model.boughtAt"
	      	is-open="datepicker.openedBoughtAt"
	      	datepicker-options="dateOptions"
	      	readonly
	      	tabindex="-1"
	      />
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-primary" ng-click="openBoughtAt($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	      </span>
	    </div><!-- /input-group -->
		</div><!-- /.col-sm-4 -->
	</div><!-- /.form-group -->
	<div class="form-group">
		<label class="control-label col-sm-2">Accesorios</label>
		<div class="col-sm-7">
			<input type="text" placeholder="Agregar nuevo accesorio" name="new-accessory" ng-model="newAccessory" class="form-control"/>
		</div><!-- /.col-sm-10 -->
		<div class="col-sm-3">
			<button name="add-accessory" class="btn btn-success" ng-click="addAccessory($event)" tabindex="-1">
				<i class="fa fa-plus fa-fw"></i>
			</button>
		</div><!-- /.col-sm-2 -->
	</div><!-- /.form-group -->
	<div class="form-group" ng-repeat="accessory in model.accessories">
		<div class="col-sm-offset-2 col-sm-7">
			<input type="text" ng-model="accessory" class="form-control" readonly tabindex="-1"/>
		</div><!-- /.col-sm-offset-2 -->
		<div class="col-sm-3">
			<button name="edit-accessory" class="btn btn-warning" ng-click="editAccessory($event, $index)" tabindex="-1">
				<i class="fa fa-pencil fa-fw"></i>
			</button>	
			<button name="remove-accessory" class="btn btn-danger" ng-click="removeAccessory($event, $index)" tabindex="-1">
				<i class="fa fa-times fa-fw"></i>
			</button>	
		</div><!-- /.col-sm-2 -->
	</div><!-- /.form-group -->
	<div class="form-group">
		<label class="control-label col-sm-2">Defecto</label>
		<div class="col-sm-10">
			<input ng-model="model.defect" type="text" placeholder="Defecto" class="form-control" required/>
		</div><!-- /.col-sm-10 -->
	</div><!-- /.form-group -->
	<hr />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input ng-if="!model._id" type="submit" class="btn btn-primary" value="Crear" ng-disabled="!serviceRequestForm.$valid"/>
			<input ng-if="model._id" type="submit" class="btn btn-warning" value="Actualizar" ng-disabled="!serviceRequestForm.$valid"/>
		</div><!-- /.col-sm-5 -->
	</div><!-- /.form-group -->
</form>